html, body {
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    background: #360033;
    background: linear-gradient(to right, #360033, #0b8793);
    text-align: center;
}

.App-header {
    height: 10%;
    padding: 20px;
    color: white;
}

.App-header h1 {
    font-size: 50px;
}

.App-header p {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.game-list {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.game-list a {
    text-decoration: none;
}

.game-thumbnail {
    width: 150px;
    height:300px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

.game-thumbnail img {
    width: 100%;
    height: auto;
}

.game-thumbnail p {
    color: #fff;
}

@media screen and (max-width: 900px) {
    .App {
        height: 100%;
    }

    .game-list {
        margin-top: 2rem;
    }
}
